@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components

<FluentDesignTheme Mode="DesignThemeModes.System" />

<div class="login-layout">
    <main>
        @Body
    </main>
</div>

<style>
    .login-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--neutral-layer-2);
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
</style>
